.favorite-pokemon-container__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin: 30px 75px 0 75px;
}

.favorite-pokemon__header-title {
  margin: 0 5px 0 0;
  color: #9B00FF;
  font-size: 2em;
}

.favorite-pokemon__header-home-link {
  margin: 0 0 0 25px;
  color: #AF33FF;
  text-decoration: none;
  cursor: pointer;
}