.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin: 30px 75px 0 75px;
}

.header-container__title {
  margin: 0 5px 0 0;
  color: #9B00FF;
  font-size: 2em;
}

.header-container__input {
  border-radius: 6px;
  border: 2px solid lightgrey;
  margin: 0 0 0 5px;
  width: 300px;
  font-size: 20px;
  height: 30px;
}

.header-container__favorite-pokemon-link {
  margin: 0 0 0 25px;
  color: #AF33FF;
  text-decoration: none;
  cursor: pointer;
}

.header-container__user-dashboard-link {
  margin: 0 0 0 25px;
  color: #AF33FF;
  text-decoration: none;
  cursor: pointer;
}

.header-container__login-button {
  background-color: #9B00FF;
  border: 2px solid #AF33FF;
  color: #fff;
  font-size: 20px;
  margin: 0 5px 0 auto;
}

.header-container__register-button {
  margin: 0 0 0 5px;
  background-color: #9B00FF;
  border: 2px solid #AF33FF;
  color: #fff;
  font-size: 20px;
}

.header-container__sign-out-button {
  margin: 0 0 0 auto;
  background-color: #9B00FF;
  border: 2px solid #AF33FF;
  color: #fff;
  font-size: 20px;
}

@media only screen and (max-width: 1100px) {
  .header-container {
    margin: 20px 10px 0 10px;
  }
}

@media only screen and (max-width: 800px) {
  .header-container {
    flex-direction: column;
  }

  .header-container__login-button {
    margin: 5px;
  }

  .header-container__sign-out-button {
    margin: 5px;
  }
}