.cardDetails {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}

@media only screen and (max-width: 800px) {
  .cardDetails {
    flex-direction: column;
  }
}